#container{
    position: relative;
}
#pointerBox {
    position: absolute;
    left: 150px;
}
#pointerCircle{
    background-color: #aaa;
    width: 100px;
    height: 100px;
    position:relative;
    z-index: 100;
    border-radius: 50%;
}
#trianglePointer{
    height: 0;
    width: 0;
    position: relative;
    left: 40px;
    top: 40px;
    z-index: 50;
    border-bottom: 150px #f00 solid;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
}
#triangle19{
    color: red;
}
#turnplate {
    position: absolute;
    height: 400px;
    width: 400px;
    /*border: #000 1px solid;*/
    border-radius: 50%;
    overflow: hidden;
    transition: transform 6s;
    transform-origin: 50% 50%;

}
.initItem {
    width: 0;
    height: 0;
    position: absolute;
    color: #000;
    /*top: 1;*/
    border-top: 200px #fff solid;
    border-left: 50px transparent solid;
    border-right: 50px transparent solid;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    /*background-color: $f00;*/
}

.initItem img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -150px;
    left: -10px;
}

.initItem p {
    display: inline-block;
    position: absolute;
    top: -190px;
    left: -20px;
    color: red;
}
